.banner{
    height: 799px;
    background: url(images/a_01.jpg) no-repeat center center;
    position: relative;
}
.banner a {
    width: 215px;
    height: 57px;
    position: absolute;
    left:50%;
    bottom:127px;
    margin-left: -60px;
}
.box1{
    height: 224px;
    background-color: #000;
    overflow:hidden;
}
.box1 p{
    width: 1100px;
    margin:0 auto;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    text-indent:2em;
    margin-top: 37px;
}
.btn1{
    width: 355px;
    height: 72px;
    background: url(images/a_04.png);
    margin:0 auto;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 72px;
    margin-top: 23px;
}
.btn1 a{
    color: #fff;
}
.title{
    font-size: 50px;
    text-align: center;
    margin-top: 57px;
    font-weight: bold;
}
.box2{
    padding-bottom: 26px;
}
.box3{
    background-color: #f2f2f2;
    padding-bottom: 35px;
    overflow:hidden;
}
.tu1,.tu2{
    width: 764px;
    margin:0 auto;
    margin-top: 66px;
}
.box6{
    background-color: #646263;
    overflow:hidden;
    padding-bottom: 80px;
    margin-top: 50px;
}
.box6 .title{
    margin-top: 35px;
}
.zi{
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 25px;
}
.box7{
    background-color: #1b1b1b;
    overflow:hidden;
    padding-bottom: 38px;
}
.box7 .title{
    color: #5fdde6;
}
.zi1{
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.box7 ul{
    width: 1120px;
    overflow:hidden;
    margin:0 auto;
    margin-top: 52px;
}
.box7 ul li{
    width: 258px;
    height: 258px;
    background: url(images/ab.jpg);
    float:left;
    margin:0 11px;
    position: relative;
    overflow:hidden;
}
.box7 ul li .mp{
    position: absolute;
    bottom:-258px;
}
.box7 ul li:hover .mp{
    bottom:0;
    transition:0.7s;
}
.box7 ul li h1{
    font-size: 30px;
    color: #34364c;
    text-align: center;
    margin-top: 55px;
}
.box7 ul li p{
    font-size: 16px;
    line-height: 22px;
    color: #656565;
    text-align: center;
}
.box8{
    padding-bottom: 40px;
}
.tut{
    width: 886px;
    margin:0 auto;
    margin-top: 42px;
}

.slideTxtBox,.slideTxtBox1,.slideTxtBox2{ width:1100px; margin: 0 auto; margin-top: 53px;}
.slideTxtBox .hd,.slideTxtBox1 .hd,.slideTxtBox2 .hd{overflow:hidden;}
.slideTxtBox .hd ul li,.slideTxtBox1 .hd ul li,.slideTxtBox2 .hd ul li{
    width: 288px;height: 57px;float:left;cursor:pointer; border:3px solid #0daeb2; text-align:center;
    font-size: 36px; color:#0daeb2;margin-right: 109px;
}
.slideTxtBox .hd ul li.on{background-color:#0daeb2;; color: #fff;}
.slideTxtBox1 .hd ul li.on{background-color:#0daeb2;; color: #fff;}
.slideTxtBox2 .hd ul li.on{background-color:#0daeb2;; color: #fff;}
.slideTxtBox .bd,.slideTxtBox1 .bd,.slideTxtBox2 .bd{
    margin-top: 16px;
    clear:both;
}
.slideTxtBox .bd li,.slideTxtBox1 .bd li,.slideTxtBox2 .bd li{ height:24px; line-height:24px;   }
.pi1-1{
    font-size: 36px;
    color: #fff;
    margin-top: 48px;
    margin-left: 48px;
}
.pi1{
    height: 355px;
    overflow:hidden;
    background: url(images/bb.jpg);
}
.pi1-2{
    font-size: 20px;
    color: #fff;
    margin-left: 45px;
}
.pi1-2 span{
    color: #00ffff;
}
.pi1-3,.pi1-4{
    float:left;
}
.pi1-3{
    margin-left: 92px;
    margin-top: 33px;
}
.pi1-4{
    margin-left: 104px;
    margin-top: 20px;
}
.pi2{
    overflow:hidden;
    width: 1012px;
    margin:0 auto;
    margin-top: 24px;
}
.pi2-1,.pi2-2,.pi2-3,.pi2-4{
    background-color: #8dcfc0;
    width: 239px;
    float:left;
    height: 341px;
    margin:0 7px;
}
.pi2 p{
    font-size: 18px;
    width: 224px;
    margin:0 auto;
}
.pi2-1 p,.pi2-2 p{
    margin-top: 24px;
}
.pi2-3 p,.pi2-4 p{
    margin-top: 48px;
}
.shangjian1{
    width: 1100px;
    height: 433px;
    background-color: #494949;
    margin:0 auto;
    margin-top: 17px;
    overflow:hidden;
}
.biaoti{
    width: 1037px;
    height: 70px;
    background-color: #44a09c;
    font-size: 36px;
    color: #fff;
    line-height: 70px;
    text-align: center;
    margin:0 auto;
    margin-top: 43px;
}
.xiao1,.xiao2{
    float:left;
    width: 355px;
    margin-top: 55px;
}
.xiao-1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.xiao1 p,.xiao2 p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 18px;
}
.xiao1{
    margin-left: 96px;
}
.xiao2{
    margin-left: 197px;
}
.lianjie1,.lianjie2{
    margin-top: 40px;
}
.small{
    width: 590px;
    margin:0 auto;
    margin-top: 28px;
    overflow:hidden;
}
.small1,.small2{
    float:left;
    width: 295px;
    line-height: 51px;
    font-size: 26px;
    text-align: center;
}
.small1{
    color: #fff;
    background-color: #45b4a5;
}

/* ������css */
.slideBox{ width:1100px; overflow:hidden; position:relative; margin:0 auto;}
.slideBox .hd{display: none; height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }

/* ������ǰ/����ť���룬��������Ҫɾ������ */
.slideBox .prev,
.slideBox .next{ position:absolute; left:0; top:50%; margin-top:-39px; display:block; width:73px; height:78px; background:url(images/1.png) -110px 5px no-repeat;}
.slideBox .next{ left:auto; right:0; background-position:8px 5px; }
.slideBox .prev{
    background: url(images/zuo.png);
}
.slideBox .next{
    background: url(images/you.png);
}
/*.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }*/
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

.box9{
    background: url(images/bei.png);
    overflow:hidden;
}
.title1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 36px;
}
.h1 span{
    font-size: 36px;
    font-weight: normal;
}
.jin{
    overflow:hidden;
    margin:0 auto;
    margin-top: 42px;
    width:901px;
}
.wenzi{
    float:left;
}
.portant{
    float:right;
}
.jin p{
    font-size: 18px;
    line-height: 28px;
    margin-top: 31px;
}
.xiangmu{
    font-size: 18px;
    line-height: 24px;
    padding:10px 8px;
    background-color: #89cfda;
    width: 434px;
    height: 88px;
    margin-top: 23px;
}
.lianjie3,.lianjie4{
    width: 169px;
    height: 45px;
    float:left;
    background-color: #dd859d;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin-top: 37px;
}
.lianjie3{
    margin-left: 31px;
}
.lianjie4{
    margin-left: 40px;
}
.protent img{
    width: 100%;
}